<h1 class = 'top-title'><%= 'Welcome to the TS Top 100'%></h1>
<br>
<button type="button" class="btn btn-light"><%= link_to 'Add A Song', new_billboard_path %></button>



<ul>
  <% @billboards.each do |billboard|%>
    <li><%= link_to billboard.title, billboard %></li>
  <% end %>
</ul>
